
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav">
        <li class="nav-item"></li>
            <a routerLink="/" class="navbar-brand" aria-current="page" >O</a>
        <li class="nav-item"></li>
            <a routerLink="/shopping-cart" class="nav-link active" aria-current="page">Shopping Cart</a>
        <ng-template #notUser> 
            <li class="nav-item"></li>
                <a routerLink="/login" class="nav-link">Login</a>
        </ng-template>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="appUser; else notUser" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{appUser.name}}</a>
            <ul class="dropdown-menu">
                <li><a routerLink="/my/orders"class="dropdown-item">My Orders</a></li>
                <ng-container *ngIf = "appUser.isAdmin">
                    <li><a routerLink="/admin/orders"class="dropdown-item">Manage Orders</a></li>
                    <li><a routerLink="/admin/products"class="dropdown-item">Manage Products</a></li>
                </ng-container>
                <li class="dropdown-item" (click) = "logout()">Log Out</li>
            </ul>
        </li>

    </ul>
</nav>
<router-outlet></router-outlet>


